header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #000000;
  height: 100px;
  color: white;
  border-bottom: solid 1px #ffffff;
}

header img {
  height: 70%;
}
